// Gradients
$gradient-blue: linear-gradient(180deg, #7755ff, #2f2ce9);
$gradient-circle: linear-gradient(
  180deg,
  #4d21c9 0%,
  rgba(37, 33, 201, 0) 100%
);
$gradient-button: linear-gradient(#303b59, #303b59);

// Colors
$dark-navy: #303b59;
$light-navy: #9899a8;
$white: #ffffff;
$yellow: #ffb21e;
$yellow-light: #fffbf4;
$blue: #1125d6;
$blue-light: #f3f4fd;
$green: #00bb8f;
$green-light: #f2fcf9;
$red: #ff5555;
$red-light: #fff6f6;
$light: #cac9ff;
$blue-bg: #ecf2ff;
