$container-xl: 1150px;
$container-l: 960px;
$container-m: 720px;
$container-s: 576px;

@mixin responsive($device) {
  @if $device == l {
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    @media screen and (max-width: $container-l) and (min-width: $container-m) {
      @content;
    }
  } @else if $device == s {
    @media screen and (max-width: $container-m) and (min-width: $container-s) {
      @content;
    }
  } @else if $device == xs {
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background-color: $blue-bg;

  @include responsive(s) {
    align-items: initial;
  }

  @include responsive(xs) {
    align-items: initial;
  }
}
