.card {
  display: flex;
  border-radius: 3.2rem;
  background-color: $white;
  width: 100%;
  max-width: 73.6rem;
  box-shadow: 0 3rem 6rem rgba(61, 108, 236, 0.15);

  @include responsive(s) {
    border-radius: 3.2rem 3.2rem 0 0;
    flex-direction: column;
    box-shadow: none;
  }

  @include responsive(xs) {
    height: 100%;
    border-radius: 3.2rem 3.2rem 0 0;
    flex-direction: column;
    box-shadow: none;
  }

  .result {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: $gradient-blue;
    padding: 3.8rem 5.4rem 4.6rem 5.4rem;
    border-radius: 3.2rem;
    max-width: 36.8rem;

    @include responsive(s) {
      border-radius: 0 0 3.2rem 3.2rem;
      max-width: 100%;
    }

    @include responsive(xs) {
      padding: 2.4rem 5.4rem 4rem 5.4rem;
      border-radius: 0 0 3.2rem 3.2rem;
      max-width: 100%;
    }

    h1 {
      @include type-1(2.4rem, 700);
      color: $light;
      margin-bottom: 3.5rem;

      @include responsive(xs) {
        @include type-1(1.8rem, 700);
        margin-bottom: 2.4rem;
      }
    }

    .circle {
      background-image: $gradient-circle;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      margin-bottom: 2.8rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include responsive(xs) {
        margin-bottom: 2.4rem;
        width: 14rem;
        height: 14rem;
      }

      .number-result {
        @include type-1(7.2rem, 800);
        line-height: 7.2rem;
        color: $white;
        margin-bottom: .4rem;

        @include responsive(xs) {
          @include type-1(5.6rem, 800);
        }
      }

      span {
        display: block;
        @include type-1(1.8rem, 700);
        color: $light;

        @include responsive(xs) {
          @include type-1(1.6rem, 700);
        }
      }
    }

    h2 {
      @include type-1(3.2rem, 700);
      color: $white;
      margin-bottom: 1.4rem;

      @include responsive(xs) {
        @include type-1(2.4rem, 700);
        margin-bottom: .8rem;
      }
    }

    p {
      @include type-1(1.8rem, 500);
      color: $light;
      text-align: center;

      @include responsive(xs) {
        @include type-1(1.6rem, 500);
      }
    }
  }

  .summary {
    flex: 1;
    padding: 3.8rem 4.0rem 4.6rem 4.0rem;

    @include responsive(xs) {
      padding: 2.4rem 3rem 3rem 3rem;
    }

    h1 {
      @include type-1(2.4rem, 700);
      color: $dark-navy;
      margin-bottom: 2.8rem;

      @include responsive(xs) {
        @include type-1(1.8rem, 700);
        margin-bottom: 2.4rem;
      }
    }

    .category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.6rem;
      border-radius: 1.2rem;
      margin-bottom: 1.6rem;

      div {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        p {
          @include type-1(1.8rem, 500);

          @include responsive(xs) {
            @include type-1(1.6rem, 500);
          }
        }
      }

      p {
        @include type-1(1.8rem, 700);
        color: $dark-navy;

        @include responsive(xs) {
          @include type-1(1.6rem, 700);
        }

        span {
          color: $light-navy;
        }
      }
    }

    .reaction {
      background-color: $red-light;

      .title-category {
        color: $red;
      }
    }

    .memory {
      background-color: $yellow-light;

      .title-category {
        color: $yellow;
      }
    }

    .verbal {
      background-color: $green-light;

      .title-category {
        color: $green;
      }
    }

    .visual {
      background-color: $blue-light;

      .title-category {
        color: $blue;
      }
    }
    .btn {
      margin-top: 2.5rem;
    }
  }
}
