.card {
  display: flex;
  border-radius: 32px;
  background-color: $white;
  width: 100%;
  max-width: 736px;
  box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);

  @include responsive(s) {
    border-radius: 32px 32px 0px 0px;
    flex-direction: column;
    box-shadow: none;
  }

  @include responsive(xs) {
    height: 100%;
    border-radius: 32px 32px 0px 0px;
    flex-direction: column;
    box-shadow: none;
  }

  .result {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: $gradient-blue;
    padding: 38px 54px 46px 54px;
    border-radius: 32px;
    max-width: 368px;

    @include responsive(s) {
      border-radius: 0px 0px 32px 32px;
      max-width: 100%;
    }

    @include responsive(xs) {
      padding: 24px 54px 40px 54px;
      border-radius: 0px 0px 32px 32px;
      max-width: 100%;
    }

    h1 {
      @include type-1(2.4rem, 700);
      color: $light;
      margin-bottom: 35px;

      @include responsive(xs) {
        @include type-1(1.8rem, 700);
        margin-bottom: 24px;
      }
    }

    .circle {
      background-image: $gradient-circle;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-bottom: 28px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include responsive(xs) {
        margin-bottom: 24px;
        width: 140px;
        height: 140px;
      }

      .number-result {
        @include type-1(7.2rem, 800);
        line-height: 7.2rem;
        color: $white;
        margin-bottom: 4px;

        @include responsive(xs) {
          @include type-1(5.6rem, 800);
        }
      }

      span {
        display: block;
        @include type-1(1.8rem, 700);
        color: $light;

        @include responsive(xs) {
          @include type-1(1.6rem, 700);
        }
      }
    }

    h2 {
      @include type-1(3.2rem, 700);
      color: $white;
      margin-bottom: 14px;

      @include responsive(xs) {
        @include type-1(2.4rem, 700);
        margin-bottom: 8px;
      }
    }

    p {
      @include type-1(1.8rem, 500);
      color: $light;
      text-align: center;

      @include responsive(xs) {
        @include type-1(1.6rem, 500);
      }
    }
  }

  .summary {
    flex: 1;
    padding: 38px 40px 46px 40px;

    @include responsive(xs) {
      padding: 24px 30px 30px 30px;
    }

    h1 {
      @include type-1(2.4rem, 700);
      color: $dark-navy;
      margin-bottom: 28px;

      @include responsive(xs) {
        @include type-1(1.8rem, 700);
        margin-bottom: 24 px;
      }
    }

    .category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-radius: 12px;
      margin-bottom: 16px;

      div {
        display: flex;
        align-items: center;
        gap: 12px;

        p {
          @include type-1(1.8rem, 500);

          @include responsive(xs) {
            @include type-1(1.6rem, 500);
          }
        }
      }

      p {
        @include type-1(1.8rem, 700);
        color: $dark-navy;

        @include responsive(xs) {
          @include type-1(1.6rem, 700);
        }

        span {
          color: $light-navy;
        }
      }
    }

    .reaction {
      background-color: $red-light;

      .title-category {
        color: $red;
      }
    }

    .memory {
      background-color: $yellow-light;

      .title-category {
        color: $yellow;
      }
    }

    .verbal {
      background-color: $green-light;

      .title-category {
        color: $green;
      }
    }

    .visual {
      background-color: $blue-light;

      .title-category {
        color: $blue;
      }
    }
    .btn {
      margin-top: 25px;
    }
  }
}
