@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../../fonts/HankenGrotesk/HankenGrotesk-Medium.ttf') font-weight-500;
  src: url('../../fonts/HankenGrotesk/HankenGrotesk-Bold.ttf') font-weight-700;
  src: url('../../fonts/HankenGrotesk/HankenGrotesk-ExtraBold.ttf') font-weight-800;
}

@mixin type-1($size, $weight) {
  font-family: 'Hanken Grotesk';
  font-size: $size;
  font-weight: $weight;
}